<section>

  <div class="header">Events Table</div>

  <div class="select-container">
    <mat-form-field appearance="outline">
      <mat-label>Event Type:</mat-label>
      <mat-select [formControl]="eventTypesControl" multiple>

        <mat-select-trigger>
          <div class="chip-list">
            <talon-chip *ngFor="let type of eventTypesControl.value"
                        size="large"
                        (removeClicked)="removeEventFromFilter($event, type)"
                        [isRemovable]="true">{{checkEventTypeName(type) | titlecase}}
            </talon-chip>
          </div>
        </mat-select-trigger>

        <mat-option *ngFor="let type of eventsTypes" [value]="type" (click)="addFilter(eventTypesControl)">
          {{ checkEventTypeName(type) | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="table-container">
    <div class="loader"
         *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" *ngIf="events$ | async" matSort matSortStart="desc">

      <ng-container matColumnDef="eventType">
        <th mat-header-cell *matHeaderCellDef>Event Type</th>
        <td mat-cell *matCellDef="let event">{{checkEventTypeName(event.eventType) | titlecase}}</td>
      </ng-container>

      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef>Severity</th>
        <td mat-cell *matCellDef="let event">
          <talon-chip [color]="event.severity">{{event.severity | uppercase}}</talon-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let event">
          <div class="user">
            {{event.user.name}}
            <span>{{event.user.email}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let event">{{event.time | date: 'YYYY/MM/dd | h:mm:ss'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</section>
